<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="<%- url_for('js/vendor/jquery.min.js') %>"></script>
<script>
  var mihoConfig = {
      root: "<%=config.url%>",
      animate: <%=theme.open_animation%>,
      isHome: <%=is_home()%>,
      share: <%=theme.share%>,
      reward: <%=theme.reward.status%>
  }
</script>
<%- partial('_partial/sidebar') %>
<%- js('js/search') %>
<%- js('js/main') %>

<% if (theme.open_bg_particle){ %>
  <script src="<%- url_for('js/vendor/particles.min.js') %>"></script>
  <div id="particles"></div>
  <%- js('js/particles') %>
<% } %>

<% if (config.disqus_shortname){ %>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';
  <% if (page.permalink){ %>
  var disqus_url = '<%= page.permalink %>';
  <% } %>
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<% } %>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<% if (theme.open_animation){ %>
  <link rel="stylesheet" href="<%- url_for('css/vendor/animate.min.css') %>">
  <script src="<%- url_for('js/vendor/scrollreveal.min.js') %>"></script>
  <%- js('js/animate') %>
<% } %>
<% if (! is_home()){ %>
  <%- js('js/pop-img') %>
  <script>
     $(".article-entry p img").popImg();
  </script>
<% } %>

<% if (theme.share && !is_home()){ %>
  <%- js('js/qrcode.min') %>
  <script>
    $(document).ready(function() {
      // 重写原有的微信分享点击事件，添加二维码生成逻辑
      $('#wxFab').off('click').on('click', function() {
        var wxShare = $('#wxShare');
        var mask = $('.mask');
        var shareUrl = window.location.href;
        var qrcodeContainer = document.getElementById('qrcode-container');

        // 显示弹窗
        wxShare.addClass('in ready');
        mask.addClass('in');

        // 清空容器并生成二维码
        qrcodeContainer.innerHTML = '';

        try {
          new QRCode(qrcodeContainer, {
            text: shareUrl,
            width: 200,
            height: 200,
            colorDark: '#000000',
            colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.M
          });
          console.log('QR Code generated successfully for:', shareUrl);
        } catch (e) {
          console.error('QR Code generation failed:', e);
          qrcodeContainer.innerHTML = '<p style="color: #666; text-align: center; padding: 50px;">二维码生成失败<br><small>' + e.message + '</small></p>';
        }
      });
    });
  </script>
<% } %>